@media screen and (max-width: 768px) {
    main {
        padding: 0.5em 0.2em;
    }

    nav {
        padding: 0.5rem 0.5rem;
    }

    .cards {
        justify-content: center;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #ffffff;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .nav-links li,
    .nav-links li a {
        background-color: #FFBF41;
        padding: 10px;
        border-radius: 10px;

    }

    .nav-links a:hover::after {
        content: " ➜";
        font-size: 18px;
        color: #1D5CCA;
        transition: ease-in 0.2;
        right: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }


    .btn2 {
        display: none;
    }


    .cards.list-view {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }


    .cards.list-view section {
        display: block;
        width: auto;
        margin-bottom: 20px;
        background: #1D5CCA;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .action-call {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 100%;
    }

    .action-call .action {
        width: 90%;
        height: 200px;
        background-color: #FFBF41;
        color: #333;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 1em;
    }

    .event-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: white;
    }

    .spotlight-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .spotlight-card {
        background: white;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }


    .weather {
        padding: 15px;
        margin: 10px;
      }
      
      .weather p {
        font-size: 1.2em;
      }
      
      figure img {
        width: 100px;
        height: 100px;
      }
      
      
      #forecast-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
      
      .forecast-item {
        width: 90%;
        margin-bottom: 15px;
      }
}