@media screen and (min-width: 768px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }



    .small{
        display: none;
    }

    .large{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menulist{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        list-style: none;
    }



    #sti{
        color: black;
        font-size: large;
        text-decoration: none;
        font-weight: bolder;
        padding: 5px;
    }

    #sti:hover{
        color: #666666;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }


    #player {
        max-width: 800px;
        margin: 2rem auto;
        aspect-ratio: 16/9;
    }

    .video{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .video-text{
        width: 50%;
        height: auto;
    }

    #player{
        width: 50%;
        height: auto;
    }

    .section-text{
        text-align: left;
        font-size: xxx-large;
        font-weight: 600;
        margin: 5px 30px 0 ;
    }

    .section-title{
        text-align: left;
        font-size: xxx-large;
        font-weight: 600;
    }


    .font-p-left{
        font-size: x-large;
        font-weight: 600;
        text-align: left;
    }

    .hero-text2{
        font-size: 80px;
        font-weight: 600;
        text-align: center;
        padding-top: 40px ;
    }

    .hero-2{
        margin-top: -55px ;
        height: 300px;
    }

    .slide-img{
        width: 200px;
        height: 300px;
    }

    .text-rl{
        font-size: xxx-large;
        font-weight: 700;
        padding: 10px;
    }



    .cta-btn{
        display: flex;
        justify-content: start;
        align-content: start;
    }

}

@media (max-width: 600px) {
    .about-sti-aware {
        padding: 20px;
    }

    .about-sti-aware h2 {
        font-size: 24px;
    }

    .about-sti-aware ul li {
        font-size: 14px;
    }
}
